*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Protest Guerrilla", sans-serif;
}
.admincontainer{
  position: relative;
  width: 100%;
}
.navbar{
  position: fixed;
  width: 200px;
  height: 100%;
  background:#6080ec;
  border-left: 10px solid #7b9aff;
  transition: 0.5s;
  overflow: hidden;
}
.navbar ul{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.navbar ul li{
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.navbar ul li:hover{
   background-color: white;
}
.navbar ul li:nth-child(1){
   margin-bottom: 20px;
   pointer-events: none;
}
.navbar ul li a{
    display: flex;
    align-items: center;
   position: relative;
   display: block;
   width: 100%;
   height: 60px;
   padding: 0 15px;
   text-decoration: none;
   color: white;
}
.navbar ul li:hover a{
   color: black;
}
.navbar i{
   position: relative;
   left: 25px;
   font-size: 18px;
   text-align: center;
}
.admin-main{
   position: relative;
   width: calc(100% - 200px);
   left: 200px;
   min-height: 100vh;
   background-color: white;
   transition: 0.5s;
}
.admin-header{
   position: relative;
   margin: 0 30px;
   padding: 5px 20px;
   justify-content: center;
   align-items: center;
   font-size: 30px;
}
.admin-body{
   position: relative;
   width: 100%;
   padding: 20px;
   display: grid;
   grid-template-columns: repeat(4,1fr);
   grid-gap: 30px;
   
}
.admin-body .subcontainer{
   position: relative;
   background: #c9d6ff;
   padding: 10px;
   box-shadow: 0 7px 25px rgba(0,0,0,0.35);
   border-radius: 20px;
   display: flex;
   justify-content: space-between;
   cursor: pointer;
}
.admin-body .subcontainer h2{
   position: relative;
   font-weight: 500;
   font-size: 2.5rem;
   color: #6080ec;
}
.admin-body .subcontainer h4{
   font-size: 1.1rem;
   color: black;
   margin-top: 5px;
}
.admin-body .subcontainer .icon{
   font-size: 3.5rem;
   color: rgb(40, 38, 38);
}
.admin-body .subcontainer:hover{
   background:#6080ec;
}
.admin-body .subcontainer:hover h2,
.admin-body .subcontainer:hover h4,
.admin-body .subcontainer:hover .icon{
   color: #eee;
}
/*-------here is table-------*/
.admin-table{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    width: 100%;
    grid-gap: 20px;
    margin-top: 10px;
}
.admin-table .table-body{
    position: relative;
    display: grid;
    min-height: 500px;
    background: white; 
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.35);   
    border-radius: 20px;
}
.admin-table .table-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.admin-table table{
    width: auto;
    border-collapse: collapse;
    margin-top: 10px;
}
.admin-table table thead td{
    font-weight: 600;

}
.admin-table .table-body table tr{
    color: black;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.admin-table .table-body table tr:hover{
    background: #6080ec;
    color: white;
}
.admin-table .table-body table tr td{
    padding: 10px;
}
.admin-table .table-body table tr td:last-child{
    text-align: end;
}
.admin-table .table-body table tr td:nth-child(2){
    text-align: center;
}
.admin-table .table-body table tr td:nth-child(3){
    text-align: center;
}
.admin-table .table-body table tr td:nth-child(4){
    text-align: center;
}
.admin-table .table-body table tr td:nth-child(6){
    text-align: center;
}
.admin-table .table-body table tr td:nth-child(7){
    text-align: center;
}


