*{
    margin: 0;
    padding: 0;
    font-family: "Protest Guerrilla", sans-serif; 
} 
body{
    background-color: #a8e0b7 ;
    background:linear-gradient(to right , #cbead1,#73c088) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    justify-content: center;
    margin-top: 20px;
}
.container{
    display: flex;
    font-size: 20px;
    justify-content: center;
}

.nav-bar{
    background: #cbead1;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(0,0,0,0.35);
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 100px;
}
.nav-links{
    display:flex;
    gap: 5rem;
}
.nav-links, .dropdown-content li{
    list-style: none;
    height: 100%;
    padding: 0.5rem 1rem;
    font-weight:600;
    cursor: pointer; 
    letter-spacing: 0.3px;
}
a{
    text-decoration: none;
    color: black;
}
.dropdown-content{
    position: absolute;
    padding: 1rem 0.5rem;
    margin: 0.5rem -0.5rem;
    background: #73c088;
    color: black;
    box-shadow: 0 10px 25px rgba(0,0,0,0.35);
    border-radius: 0.5rem;
    font-size: 15px;
    display: none;
    align-items: baseline;
    letter-spacing: 0.5px;
    z-index: 10;
}
.nav-link:hover{
    color:#8abe3b;
    border-radius: 0.5rem;
}
.profile:hover .dropdown-content{
    display: block;
}
.profile a{
    display: flex;
}
.dropdown-icon{
    font-size: 20px;
    position: relative;
    right: -5px;
    transform: rotate(0deg);
    transition: 0.3s ease-in-out all;
}
.profile:hover .dropdown-icon{
    transform: rotate(180deg);
}
.dropdown-content li:hover{
    background: #edffed;
    color: black;
    border-radius: 0.5rem;
}
.button{
    display: inline-block;
    padding: 13px 32px;
    background: #8abe3b;
    border: 2px solid transparent;
    border-radius: 7px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    transition: all .6s ease;
    margin-right: 20px;
}
.button:hover{
    transform: scale(1.1);
    background-color: #cbf58b;
}
.btn{
    display: inline-block;
    padding: 13px 32px;
    background: #f75d5d;
    border: 2px solid transparent;
    border-radius: 7px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    transition: all .6s ease;
    margin-right: 20px;
}
.btn:hover{
    transform: scale(1.1);
}
.input-container {
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    padding-left: 5px;
}
.input-container input{
    padding-left: 20px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    border: 1px  ;
    border-radius: 3px;
    outline-color: #8abe3b;
}

.input-container i{
    position: absolute;
    left: 0.75rem; 
    font-size: 25px;
}
.input-container:hover i{
    transform: scale(1.1);
}
.profile-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #cbead1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    max-width: 900px;
    width: 100%;
}

.profile-container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.profile-options {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.profile-container input{
    position: relative;
    font-size: 20px;
    padding: 15px;
    padding-left: 40px;
}
.task-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #e9ffc9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    max-width: 900px;
    width: 100%
}
form button{
    display: inline-block;
    padding: 13px 32px;
    background: #8abe3b;
    border: 2px solid transparent;
    border-radius: 7px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    transition: all .6s ease;
    margin-right: 20px;
}
.button:hover{
    transform: scale(1.1);
    background-color: #cbf58b;
}

.location-container {
    text-align: center;
    background: #73a9ad;
    border-radius: 30px;
    width: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 15%;
}

.icon1 {
    font-size: 5em;
    color: rgb(250, 247, 215);
}

.start{
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.start button{
    position: relative;
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #cbf58b;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.hidden {
    display: none;
}
select{
    font-size: 15px;
    padding: 5px;
}
.map{
    margin: 10px 20px 10px 20px;
    max-width: 90%;
}
