*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "New Amsterdam", sans-serif;
 }
body{
   background-color: #e9ffe9 ;
   background:linear-gradient(to left , rgb(233, 235, 225),#f9f3ca) ;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
 }
.cart{
    background-color: #eee;
    border-radius: 30px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.35);
    padding: 20px;
    width: 70%;
    min-width: 500px;
}
.cart-header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.cart h1{
    margin: 0;
    font-size: 24px;
}
.cart-icon{
    font-size: 30px;
    margin-right: 20px;
}
.cart-item,.total{
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;
}
.cart button{
    background-color: #512da8;
    color: #eee;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-top: 10px;
    cursor: pointer;
}
