<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LariLariMMU Website</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">

    <!-- box-icon-link -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <!-- remix-icon-link -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/> 
    
    <!-- google-font-link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap" rel="stylesheet">

    <!-- aos-animation-link -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body>
    <div class="container">
        <nav class="nav-bar">
            <ul class="nav-links">
                <li class="nav-link">
                    <a href="{{ url_for('buyer_home') }}">Home</a>                
                    <i class='bx bx-home'></i>
                </li>

                <li class="nav-link profile">
                    <a href="{{ url_for('progress_tracking') }}" class="dropbtn">Progress Tracking
                    <i class='bx bx-list-check'></i>
                    <span class="dropdown-icon">
                        <i class='bx bx-chevron-down'></i>
                    </span>
                    </a>
                    <ul class="dropdown-content">
                        <li><a href="{{ url_for('progress_tracking') }}">Real Time Tracking</a></li>
                    </ul>
                </li>

                <li class="nav-link">
                    <a href="{{ url_for('buyer_profile') }}" class="dropbtn">Profile
                    <i class='bx bx-user'></i>
                    </a>
                </li>
                
                <li class="nav-link">
                    <a href="{{ url_for('buyer_orders') }}" class="dropbtn">Orders History
                    <i class='bx bx-user'></i>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="{{ url_for('logout') }}" class="dropbtn">Log OUT
                    <i class='bx bx-log-out'></i>
                    </a>
                </li>
            </ul>
        </nav>

        <!-- TOPIC -->    
        <section class="topic">
            <div class="topic-text">
                <h5 data-aos="fade-right" data-aos-duration="1500"> #Welcome to the Restaurant Finder </h5>
                <h1 data-aos="zoom-in-left" data-aos-duration="1800" data-aos-delay="200">LARI LARI MMU</h1>
                <p data-aos="fade-right" data-aos-duration="1700" data-aos-delay="300"> YOO YOO YOO wanna find something tasty??<br> Here LARI LARI MMU is the best choice for you !!</p>
                
                <div class="main-topic" data-aos="flip-down" data-aos-duration="1400" data-aos-delay="400">
                    <a href="{{ url_for('restaurant_list') }}" class="order-now-link">Order Now</a>
                </div>
            </div>
        </section>
    </div>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({offset: 1});
    </script>
    
</body>
</html>
