<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LariLariMMU Website</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">

    <!-- box-icon-link -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <!-- remix-icon-link -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/> 
    
    <!-- google-font-link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nerko+One&family=Protest+Guerrilla&display=swap" rel="stylesheet">

    <!-- aos-animation-link -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

</head>
<body>

    <header>
        <a href="#" class="logo">
            <p>{{ filename }}></p>
        </a>
        <div class="right-content">

                <a href="{{ url_for('signup') }}" class="nav-btn">Sign Up</a>
                <a href="{{ url_for('login') }}" class="nav-btn">Log In</a>

            <div class="bx bx-menu" id="menu-icon"></div>
        </div>
    </header>
<!--------------------------TOPIC---------------------------------------------------->     
    <section class="topic">
        <div class="topic-text">
            <h5 data-aos="fade-right" data-aos-duration="1500"> #Welcome to the Restaurant Finder </h5>
            <h1 data-aos="zoom-in-left" data-aos-duration="1800" data-aos-delay="200">{{ content.shop_name }}</h1>
            <p>{{ content.home_content }}</p>
            <p data-aos="fade-right" data-aos-duration="1700" data-aos-delay="300"> YOO YOO YOO wanna find something tasty??<br> Here LARI LARI MMU is the best choice for you !!</p>

            <div class="main-topic" data-aos="flip-down" data-aos-duration="1400" data-aos-delay="400">
                    <a href="{{ url_for('login') }}" class="btn">Log in as a buyer to place an order</a>
            </div>
            </div>
            
        </div>
    </section>


    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({offset: 1,});
    </script>
    
</body>
</html>

<!--------------------------Restaurant---------------------------------------------------->    
   