<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style1.css">
    <title>Login Page</title>

<!--------------------------box-icon-link---------------------------------------------------->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

<!--------------------------remix-icon-link---------------------------------------------------->
<link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/> 
    
<!--------------------------google-font-link---------------------------------------------------->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nerko+One&family=Protest+Guerrilla&display=swap" rel="stylesheet">

<!--------------------------aos-animation-link---------------------------------------------------->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

</head>
<body>
    <section>
    <div class="form-box">
        <div class="form-value">
            <form method="POST" action="{{ url_for('login') }}"></form>
        <h1>Login</h1>
        
        <form method="POST" action="{{ url_for('login') }}">
                <div class="inputbox">
                    <input type="text" name="username" class="input-field" placeholder="Username" required>
                    <i class="bx bx-user"></i>
                </div>
                <div class="inputbox">
                    <input type="password" name="password" class="input-field" placeholder="Password" required>
                    <i class="bx bx-lock-alt"></i>
                </div>
                <div class="forget"> <div class=""></div>
                    <a href="{{ url_for('reset_password') }}">Forget Password?</a>
                </div>
                <button type="submit">Log In</button>
                <div class="register">
                <p><a href="{{ url_for('signup') }}">Don't have an account? Register</a></p>
                </div>
            </form>
       </div>
   </section>
</body>
</html>