<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style1.css">
    <title>Log Out</title>
<!--------------------------box-icon-link---------------------------------------------------->
<link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

<!--------------------------remix-icon-link---------------------------------------------------->
<link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/> 
    
<!--------------------------google-font-link---------------------------------------------------->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nerko+One&family=Protest+Guerrilla&display=swap" rel="stylesheet">

<!--------------------------aos-animation-link---------------------------------------------------->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body>
    <div class="form-box">
        <div class="form-value">
        <h1>Logout</h1>

        <!-- Display flash messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                        <li class="flash-{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <form method="POST" action="{{ url_for('logout') }}">
            <div class="inputbox">
                <input type="text" id="username" name="username" placeholder="Username" required>
                <i class="bx bx-user"></i>
            </div>
            <div class="inputbox">
                <input type="password" id="password" name="password" placeholder="Password"  required>
                <i class="bx bx-lock-alt"></i>
            </div>
            <div class="inputbox">
                <button type="submit" class="button">Log Out</button>
            </div>
        </form>

        {% if not session.get('username') %}
                <p><a class="button" href="{{ url_for('login') }}">Return to Login Page</a></p>
                <p><a class="button" href="{{ url_for('index') }}">Return to Home Page</a></p>
            {% endif %}
        </div>
    </div>
</body>
</html>