<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Control</title>
    <link rel="stylesheet" type="text/css" href="../static/style(admin2).css">
    <!--------------------------box-icon-link---------------------------------------------------->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    
    <!--------------------------remix-icon-link---------------------------------------------------->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/> 
        
    <!--------------------------google-font-link---------------------------------------------------->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nerko+One&family=Protest+Guerrilla&display=swap" rel="stylesheet">
    
    <!--------------------------aos-animation-link---------------------------------------------------->
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    
</head>
</head>
<body>
    <div class="admincontainer">
        <div class="navbar">
            <ul>
                <li><a href="#">Lari Lari MMU</a></li>
                <li><i class='bx bx-home'></i><a href="/admin">Dashboard</a></li>
                <li><i class='bx bx-user'></i><a href="/usercontrol">User Control</a></li>
                <li><i class='bx bx-store-alt'></i><a href="/restaurantcontrol">Restaurant Control</a></li>
                <li><i class='bx bx-cart'></i><a href="/ordercontrol">Order Control</a></li>
                <li><i class='bx bx-food-menu'></i><a href="/menucontrol">Menu Control</a></li>
                <li><i class='bx bx-edit'></i><a href="/pageEditor">Page Editor</a></li>
                <li><i class='bx bx-log-out'></i><a href="/logout">Log Out</a></li>
            </ul>
        </div>
    </div>
    <div class="admin-main">
        <div class="admin-header">
            <h2>Order Control</h2>
        </div>
        <div class="admin-table">
            <div class="table-body">
                <table>
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Order ID</th>
                            <th>Buyer</th>
                            <th>Restaurant</th>
                            <th>Item Name</th>
                            <th>Total Price</th>
                            <th>Quantity</th>
                            <th>Order Date</th>
                            <th>Order Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ order.id }}</td>
                            <td>{{ order.buyer_username }}</td>
                            <td>{{ order.restaurant_name }}</td>
                            <td>{{ order.item_name }}</td>
                            <td>{{ order.total_price }}</td>
                            <td>{{ order.quantity }}</td>
                            <td>{{ order.order_date }}</td>
                            <td>{{ order.status }}</td>
                            <td class="actions">
                              <a href="{{ url_for('edit_order', order_id=order.id) }}">Edit</a>
                              <a href="{{ url_for('delete_order', order_id=order.id) }}" onclick="return confirm('Are you sure you want to delete this order?')">Delete</a>
                          </td>
                         </tr>
                         {% endfor %}
                     </tbody>
                 </table>
            </div>
        </div>
    </div>
</body>
</html>