<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page Editor</title>
    <link rel="stylesheet" type="text/css" href="../static/style(admin2).css">

<!--------------------------box-icon-link---------------------------------------------------->
<link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

<!--------------------------remix-icon-link---------------------------------------------------->
<link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/> 
    
<!--------------------------google-font-link---------------------------------------------------->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nerko+One&family=Protest+Guerrilla&display=swap" rel="stylesheet">

<!--------------------------aos-animation-link---------------------------------------------------->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body>
    <div class="admincontainer">
        <div class="navbar">
            <ul>
                <li><a href="#">Lari Lari MMU</a></li>
                <li><i class='bx bx-home'></i><a href="/admin">Dashboard</a></li>
                <li><i class='bx bx-user'></i><a href="/usercontrol">User Control</a></li>
                <li><i class='bx bx-store-alt'></i><a href="/restaurantcontrol">Restaurant Control</a></li>
                <li><i class='bx bx-cart'></i><a href="/ordercontrol">Order Control</a></li>
                <li><i class='bx bx-food-menu'></i><a href="/menucontrol">Menu Control</a></li>
                <li><i class='bx bx-edit'></i><a href="/pageEditor">Page Editor</a></li>
                <li><i class='bx bx-log-out'></i><a href="/logout">Log Out</a></li>
            </ul>
        </div>
    </div>
    <div class="admin-main">
        <div class="admin-header">
            <h2>Change HOME page content</h2>
        </div>
        <div class="admin-body">
            <div class="containerBody">
                <form action="/pageEditor" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="home_content"> Home Page Content: </label>
                        <textarea id="home_content" name="home_content" rows="10" cols="50" placeholder="Edit your content here...">{{ home_content }}</textarea>
                    </div>
                    <div class="form-group">
                        <label> Shop Name: </label>
                        <input type="text" id="shop_name" name="shop_name" value="{{ shop_name }}" placeholder="Enter shop name">
                    </div>
                    <div class="form-group">
                        <label> Upload Logo: </label>
                        <input type="file" id="logo" name="logo">
                    </div>
                    <button type="submit">Save Change</button>
                </form>
            </div>
    </div>
</body>
</html>