<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style2.css">
    <title>Restaurants List</title>

<!--------------------------box-icon-link---------------------------------------------------->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

<!--------------------------remix-icon-link---------------------------------------------------->
<link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/> 
    
<!--------------------------google-font-link---------------------------------------------------->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap" rel="stylesheet">

<!--------------------------aos-animation-link---------------------------------------------------->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

</head>
<body>
    <h1>Restaurants</h1>

    <p><a href="{{ url_for('view_cart') }}">View Cart</a></p> 

    <ul>
            {% for restaurant in restaurants %}
                <li>
                    <strong><a href="{{ url_for('restaurant_detail', restaurant_id=restaurant.id) }}">{{ restaurant.name }}</a></strong><br>
                    <div class="details">
                        Cuisine: {{ restaurant.cuisine }}<br>
                        Price Range: {{ restaurant.price_range }}<br>
                    </div>
                </li>
            {% endfor %}
    </ul>
    <li><a href="{{ url_for('buyer_home') }}">Back to Home</a></li>
</body>
</html>