<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Runner Home</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li class="dropdown">
                  <a href="{{ url_for('task_management', task_type='available') }}" class="dropbtn">Task Management</a>
                </li>
                <li class="dropdown">
                  <a href="{{ url_for('progress_tracking') }}" class="dropbtn">Progress Tracking</a>
                </li>
                  <li class="dropdown">
                     <a href="#" class="dropbtn">Profile</a>
                     <div class="dropdown-content">
                        <a href="#" onclick="showProfileOption('info')">Profile info</a>
                        <a href="#" onclick="showProfileOption('notification')">Notification</a>
                     </div>
                  </li>
                  <li><a href="{{ url_for('logout') }}">Logout</a></li>
               </ul>
            </nav>
    </header>

    <h1>Welcome, Runner!</h1>
<!--------------------------Task Management---------------------------------------------------->    
         

<!--------------------------Map navigation---------------------------------------------------->    

</body>
</html>
                
