<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
</head>
<body>
    <div class="container">
    <h1>Signup</h1>
    <form method="POST" action="{{ url_for('signup') }}">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br><br>
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>
    </div>
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="Username" name="Username" required><br><br>
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
    </div>
    <div class="form-group"></div>
        <label for="role">Role:</label>
        <select id="role" name="role" required>
            <option value="seller">Seller</option>
            <option value="buyer">Buyer</option>
            <option value="runner">Runner</option>
            <option value="admin">Admin</option>
        </select><br><br>
    </div>
    <div class="form-group">
        <label for="phone_no">Phone Number:</label>
        <input type="text" id="phone_no" name="phone_no" required><br><br>
    </div>
    <div class="form-group">
        <button type="submit">Signup</button>
    </div>
    </form>
    <p><a href="{{ url_for('login') }}">Already have an account? Log in</a></p>
</body>
</html>