<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Management</title>
</head>
<body>
    <div class="container">
      {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flash-messages">
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <nav class="nav-bar">
          <ul class="nav-links">
            <li class="nav-link">
              <a href="{{ url_for('index') }}">Home</a>                
              <i class='bx bx-home'></i>
            </li>
  
            <li class="nav-link profile">
              <a href="{{ url_for('task_management', task_type='available') }}" class="dropbtn">Task Management
              <i class='bx bx-task'></i>
              <span class="dropdown-icon">
                <i class='bx bx-chevron-down'></i>
              </span>
              </a>
              <ul class="dropdown-content">
                <li><a href="{{ url_for('task_management', task_type='available') }}">Available Deliveries</a></li>
                <li><a href="{{ url_for('task_management', task_type='current') }}">Current Deliveries</a></li>
                <li><a href="{{ url_for('task_management', task_type='completed') }}">Completed Deliveries</a></li>
              </ul>
            </li>
  
            <li class="nav-link profile">
              <a href="{{ url_for('progress_tracking') }}" class="dropbtn">Progress Tracking
              <i class='bx bx-list-check'></i>
              <span class="dropdown-icon">
                <i class='bx bx-chevron-down'></i>
              </span>
              </a>
              <ul class="dropdown-content">
                  <li><a href="{{ url_for('progress_tracking') }}">Real Time Tracking</a></li>
              </ul>
            </li>
  
            <li class="nav-link">
              <a href="{{ url_for('runner_profile') }}" class="dropbtn">Profile
              <i class='bx bx-user'></i>
              </a>
            </li>
  
            <li class="nav-link">
              <a href="{{ url_for('logout') }}" class="dropbtn">Log OUT
              <i class='bx bx-log-out'></i>
              </a>
            </li>
          </ul>
        </nav>
    </div>
    <div class="container">
        <div class="task-section">
            <h2>{{ task_type.replace('_', ' ').title() }}</h2>
            {% if tasks %}
                <ul>
                    {% for task in tasks %}
                        <li class="task-item">
                            Order ID: {{ task.id }}
                            <br>Item: {{ task.item_name }} from {{ task.restaurant_name }}
                            <br>Total Price: {{ task.total_price }}
                            <br>Quantity: {{ task.quantity }}
                            <br>Buyer: {{ task.buyer_username }}
                            <br>Order Date: {{ task.order_date }}

                            {% if task.order_status == 'available' %}
                                <form action="{{ url_for('accept_order', order_id=task.id) }}" method="post">
                                    <label for="runner_name">Assign to Runner:</label>
                                    <select name="runner_name" id="runner_name">
                                        {% for runner in runners %}
                                            <option value="{{ runner.username }}">{{ runner.username }}</option>
                                        {% endfor %}
                                    </select>
                                    <button type="submit">Accept Order</button>
                                </form>
                            {% elif task.order_status == 'current' %}
                                {% if task.status == 'delivered' %}
                                    <form action="{{ url_for('pickuped_order', order_id=task.id) }}" method="post">
                                        <button type="submit">Pickup</button>
                                    </form>
                                {% endif %}
                                {% if task.status == 'picked up' %}
                                    <form action="{{ url_for('complete_order', order_id=task.id) }}" method="post">
                                        <button type="submit">Complete</button>
                                    </form>
                                {% endif %}
                            {% elif task.order_status == 'completed' %}
                                <p class="status-message">Your order is successfully completed</p>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No tasks available.</p>
            {% endif %}
        </div>
    </div>
</body>
</html>
